LOOP

In [1]:
# To print even number from1 to 100

i=1
while i<100:
    if i%2==0:
        print(i)
        
    i=i+1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [2]:
#sum of  n numbers

i=1
sum=0
n=int(input("Enter  number: "))
while i<=n:
    sum=sum+i
    i=i+1
print(sum)

Enter  number: 50
1275

In [3]:
# To print n numbers

i=1
n=int(input("Enter number :"))
while i<+n:
    print(i)
    i=i+1

Enter number :35
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34

In [5]:
#To print Multiple table of number

i=1
num=int(input("Enter a number :"))
lim=int(input("Enter limit :"))
print("Table of",num,"is")
while i<=lim:
    print(i,"*",num,"=",num*i)
    i=i+1

Enter a number :7
Enter limit :10
Table of 7 is
1 * 7 = 7
2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49
8 * 7 = 56
9 * 7 = 63
10 * 7 = 70

In [6]:
#To print factorial of number

i=1
fact=1
num=int(input("Enter number :"))
while i<=num:
    fact=fact*i
    i=i+1

print(fact)

Enter number :34
295232799039604140847618609643520000000

In [7]:
#Multiple table using for loop

num=int(input("Enter number :"))
limit=int(input("Enter limit :"))
print("Multiple Table of ",num,"is ")
for i in range(1,limit+1):
    print(i,"*",num,"=",i*num)

Enter number :5
Enter limit :10
Multiple Table of  5 is
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [8]:
#Reverse of a number

num=int(input("Enter a number :"))
rev=0
while num>0:
    rem=num%10
    rev=rev*10+rem
    num=num//10
print(rev)

Enter a number :65
56

In [9]:
# Fibonacii of number

f1=0
f2=1
num=int(input("Enter number of terms :"))
print(f1)
print(f2)

for i in range(num-2):
    f3=f1+f2
    print(f3)
    f1=f2
    f2=f3

Enter number of terms :12
0
1
1
2
3
5
8
13
21
34
55
89

In [10]:
#To check Palindrome or not

num=int(input("Enter a number :"))
temp=num
rev=0
while num>0:
    rem=num%10
    rev=rev*10+rem
    num=num//10
if rev==temp:
    print(temp,"is Palindrome")
else :
    print(temp,"is  not Palindrome")

Enter a number :234
234 is  not Palindrome

In [11]:
# To check Armstrong number or not

num=int(input("Enter number :"))
temp=num
num1=num
dig=0
while num>0:
    num=num//10
    dig=dig+1
sum=0
for i in range(dig):
    digit=temp%10
    sum=sum+digit**dig
    temp=temp//10
if num1==sum:
    print(num1,"is an Armstrong number")
else :
    print(num1,"is not Armstrong number")

Enter number :65
65 is not Armstrong number

In [12]:
# Whether given number is prime or not

num=int(input("Enter number :"))
count=0
for i in range (2,num):
    if num%i==0:
        count=1
if count==1:
    print("The number is not Prime")
else :
    print("The number is Prime")

Enter number :643
The number is Prime

In [13]:
#star pattern

for i in range(5):#outer loop
    for j in range(i):#inner loop
        print("*",end="")
    print()

*
**
***
****

In [14]:
#Number pattern

for i in range(6):
    for j in range(i):
        print(i,end="")
    print()

1
22
333
4444
55555